<app-sidenav></app-sidenav>

<ion-content>
<p>
 This plugin is used to Open/read PDF file according to our current angularjs Project.
 There is no Documentation available for this plugin in current version of ionic-v6.
 However there is an another library available for this Plugin.
</p>
<br>

<ion-chip [disabled]="true" color="danger">
  <ion-label>Replacement</ion-label>
</ion-chip>
<h2>
 1) Document Viewer (*no longer maintained)
</h2>
<h2>
 2) PDF.js
</h2>

<br>
<h5>1) Document Viewer</h5>
<h4>
  This plugin offers a slim API to view PDF files which are either stored in the apps assets folder (/www/*) or in any other file system directory available via the cordova file plugin.
</h4>
  <a href="https://ionicframework.com/docs/native/document-viewer">https://ionicframework.com/docs/native/document-viewer</a>
  <br>
  <a  href="https://github.com/sitewaerts/cordova-plugin-document-viewer">https://github.com/sitewaerts/cordova-plugin-document-viewer</a>
<br>

<h5>PDF.js</h5>

<a href="https://mozilla.github.io/pdf.js/">https://mozilla.github.io/pdf.js/</a>

</ion-content>
