<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pramericalife</ion-title>
    </ion-toolbar>
  </ion-header>

  <iframe class='webPage' name="eventsPage" [src]="openURL()" allowfullscreen>
  </iframe>
  <ion-label>Refused to display 'https://pramericalife.in:9098/' in a frame because it set 'X-Frame-Options' to 'sameorigin'.</ion-label>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
