<app-sidenav></app-sidenav>

<ion-content>
<p>
  As per Plugin Documentation This Plugin is Deprecated and no longer works. We have to try different approach.
</p>
<br>

<ion-chip [disabled]="true" color="danger">
  <ion-label>Replacement</ion-label>
</ion-chip>
<h2>
  Photo Library
</h2>
<h4>
  The PhotoLibrary plugin allows access to photos from device by url. So you can use plain img tag to display photos and their thumbnails, and different 3rd party libraries as well. Saving photos and videos to the library is also supported. cdvphotolibrary urls should be trusted by Angular. See plugin homepage to learn how. 
</h4>
<h6>
  <a href="https://ionicframework.com/docs/native/photo-library">https://ionicframework.com/docs/native/photo-library</a>
  <br>
  <a  href="https://ourcodeworld.com/articles/read/80/how-to-convert-a-image-from-the-device-to-base64-with-javascript-in-cordova">https://ourcodeworld.com/articles/read/80/how-to-convert-a-image-from-the-device-to-base64-with-javascript-in-cordova</a>
</h6>

</ion-content>
