<app-sidenav></app-sidenav>

<ion-content>
<p>
  The main use case of this plugin is to read and write the file from&to the device storage. 
  As per Plugin Documentation This Plugin has no maintainence since last 7 years. We have to try different approach.
</p>
<br>

<ion-chip [disabled]="true" color="danger">
  <ion-label>Replacement</ion-label>
</ion-chip>
<h2>
  cordova-plugin-file
</h2>
<h4>
  This plugin implements a File API allowing read/write access to files residing on the device.
  The File class implements static convenience functions to access files and directories. 
</h4>
  <a href="https://ionicframework.com/docs/native/file">https://ionicframework.com/docs/native/file</a>
  <br>
  <a  href="https://github.com/apache/cordova-plugin-file">https://github.com/apache/cordova-plugin-file</a>
<br>
<a href="https://medium.com/@k.eschua/tutorial-on-how-to-create-write-and-read-file-in-ionic-the-easy-way-d291081b5ad1">https://medium.com/@k.eschua/tutorial-on-how-to-create-write-and-read-file-in-ionic-the-easy-way-d291081b5ad1</a>

</ion-content>
